@import '../custom';
@import '../components/mixins';

.intro-section{
    background: $nav-gradient;
    padding: 10rem 0 0 0 ;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
    }
    .wave{
        position: relative;
        top: 1px;

    }
}
@media(max-width:764px){
    .wave{
        top: 2px;
    }
}
