@import '../custom';
@import '../components/mixins';

.portfolio{
    padding: 4rem 0;

    button{
        text-transform: capitalize;

    }

    
}
.portfolio-box{
    position: relative;
    width: 100%;
    max-height: 18.5rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-top: 4px solid rgba($primary,1);
    img{
        width: 100%;
        height: 100%;
        
    }
    .portfolio-info{
        background-color: rgba($primary, .75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        .caption{
            text-align: center;
            color: $white;
            @include absoluteCenter;
            
        }
        visibility: hidden;
    }
    &:hover{
        .portfolio-info{
            visibility: visible;
        }
    }
    .info-phone{
        position: absolute;
        bottom: -10px;
        left: 50%;
    }
}

@media (max-width: 736px){
    .portfolio-box{
        img{
            width: 100%;
            height: 80%;
        }
    }
    
}